.cart-table {
    margin: 20px 0px 20px;
}

.cart-product {
    padding: 10px;
    border: 1px solid #ccc;
}

.cart-product .cart-table {
    margin-top: 10px;
}

.cart-product th,
.cart-product td {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.increase {
    height: 23px;
    width: 23px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(13, 206, 13);
    font-size: 20px;
    color: white;
}

.decrease {
    height: 23px;
    width: 23px;
    border: 0;
    border-radius: 50%;
    background-color: red;
    font-size: 20px;
    color: white;
}