.cart-table {
    margin: 20px 0px 20px;
}

.cart-product {
    padding: 10px;
    border: 1px solid #ccc;
}

.cart-product .cart-table {
    margin-top: 10px;
}

.cart-product th,
.cart-product td {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}