<div>
  <button mat-raised-button color="warn" (click)="closeCart()">Close</button>
</div>
<div class="cart-table">
  <div class="cart-product">
    <div class="cart table">
      <thead>
        <tr>
          <th>Tên Sản Phẩm</th>
          <th>Giá</th>
          <th>Số Lượng</th>
          <th>Thành Tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ItemCart">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}.000 đ</td>
          <td>
            <div>
              <button class="decrease" (click)="decreaseItem(item)">-</button>
              {{ item.inCart! }}
              <button class="increase" (click)="increaseItem(item)">+</button>
            </div>
          </td>
          <td>{{ item.price * item.inCart! }}.000 đ</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
<div>
  <button mat-raised-button color="accent" (click)="total()">Thanh Toán</button>
</div>
