<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<app-navpar (onCart)="showDialog()"></app-navpar>
<div class="form">
  <app-form [listItems]="listItems"></app-form>
</div>
<div class="container-card">
  <div class="card">
    <app-item-card
      *ngFor="let item of listItems"
      [item]="item"
      (onCart)="addCart(item)"
    ></app-item-card>
  </div>
</div>

<dialog #cartElement>
  <app-gio-hang (onCloseCart)="closeDialog()" [ItemCart]="cart"></app-gio-hang>
</dialog>
