<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<app-navpar (onCart)="showDialog()"></app-navpar>
<div class="card">
  <app-item-card
    (onCart)="onAddCart($event)"
    (onDeleteItem)="deleteItem($event)"
    *ngFor="let item of storeService.listItems"
    [item]="item"
    (onUpdateItem)="updateItem($event)"
  ></app-item-card>
</div>

<dialog #cartElement>
  <app-gio-hang
    (onCloseCart)="closeDialog()"
    [ItemCart]="cart"
    (onIncreaseItem)="onIncrease($event)"
    (onDecreaseItem)="onDecrease($event)"
    (onPay)="onPay()"
  ></app-gio-hang>
</dialog>
