.container {
    max-width: 300px;
    font-size: 14px;
    margin-top: 20px;
    padding: 0;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.img {
    width: 100%;
    border-radius: 10px;
    height: 280px;
    object-fit: cover;

}

h4 {
    font-family: 'SF Pro Display', sans-serif;
    margin-left: 5%;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    font-family: 'SF Pro Display', sans-serif;
    margin-left: 5%;
}

.button {
    display: flex;
    justify-content: center;
    /* Horizontally center the button */
    margin-bottom: 10px;
    /* Add some margin at the bottom to separate the button from the container */
    padding-bottom: 10px;

    transition: all 0.5s ease-in-out;

    :hover {
        background-color: #441fff;
        color: aliceblue;
        transition: all 0.5s ease-in-out;

    }

    &>button {
        width: 70%;
        border-radius: 30px;
    }
}